#container{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
    margin: 200px;
    
}

.box{
    box-sizing: border-box;
    background-color: rgb(45,45, 209);
}
.first, .third{
    height: 85px;
    width: 85px;
}

.third{
    position: absolute;
    bottom: 0px;
}

.second, .fourth{
    height: 85px;
    width: 179px;
    position: absolute;
}

.second{
    /* position: absolute; */
    top: 0px;
    right: 0px;
}

.fourth{
    /* position: absolute; */
    bottom: 0px;
    right: 0px; 
}